body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 12px;
    font-family:"微软雅黑";
    background: #f9f9f9;
}
i{
    font-size: 16px;
    color: #3AB3FF;
    font-weight: bold;
}
strong{
    font-size: 16px;
    color: orangered;
}
div,ul,h3{
    padding: 0;
    margin: 0;
}
input{outline: none;}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom:1;
}
/*head*/
.index-top{
    width: 100%;
    height: 157px;

}
/*欢迎访问栏*/

.index-top-nr1{
    width: 90%;
    height: 58px;
    padding:0 100px;
    /*background-color: #202020;*/
    background-color: #35658e;
}
/*欢迎用语*/
.index-top-nr1 span{
    display: block;
    float: left;
    margin-left: 50px;
    width: auto;
    height: 45px;
    color:#FFF;
    line-height: 58px;
    font-size:24px;
    font-weight: bold;
}
#head .loginBar{
    position: absolute;
    right: 20px;
    width: 250px;
    height: 55px;
}
#head .loginBar a{
    text-decoration: none;
    font-size: 20px;
    line-height: 55px;
    color:white;
}
#head .loginBar .loginBox{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    top:5px;
    margin:8px;
}
#head .loginBar .regesterBox img{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    top:15px;
    margin:8px 8px 10px 20px;
}

.logo{
    width: 60px;
    height: 60px;
    position: absolute;
	margin-top:5px;
    top:-6px;
    left: 30px;

}
#title{
    width: 1080px;
    height: 150px;
    margin: 0 auto;
}
#title img{
    width: 1080px;
    margin: 0 auto;
}

.navBar{
    width: 1080px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #ccc;
}
.navBar ul {
    list-style: none;
}
.navBar li{
    float: left;
    width: 150px;
    text-align: center;
	


}
.navBar li a{
    text-decoration: none;
    color: #51c332;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.bg{
    height: 5px;
    overflow: hidden;
    background-color: #51c332;
    border: none;
    position: absolute;
    top:254px;
    z-index: 1;
}
/*head结束*/
/*/////////////////////////////////////////////////////////////*/
/*foot开始*/
.foot{
    width: 100%;
    height: 280px;
    background-color: #202020;
    border: 1px solid transparent;
}
.foot-box{
    margin: 40px auto ;
    width: 1080px;
    height: 169px;
}
.foot-box img{
    display: inline-block;
    float: left;
    width: 120px;
    height:120px;
    padding-left: 70px;
    padding-right: 75px;
    position: relative;
    top: 50px;;
}
.foot-box ul{
    list-style: none;
}
.foot-box li{
    display: inline-block;
    padding-top: 55px;
    float: left;
    width: 96px;
    height: 22px;
    line-height: 22px;
    position: relative;
}
.foot-box li a{
    padding: 0 15px ;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #C1C1C1;

}
.foot-box li span{
    display: inline-block;
    width:2px;
    height:22px;
    background-color: #868686;
    margin:5px;
    position: absolute;
    bottom:-5px;
}
.copyRight{
    width: 650px;
    height: 80px;
    color: white;
    position: relative;
    top:70px;
    left: 300px;
}
.copyRight font{
    float: left;
    padding:8px;
    position: relative;
    top:-100px;
    color: #999;
}
