#content{
    width: 1198px;
    height:480px;
    margin: -50px auto;
}
#loginDiv{
    width: 400px;
    height: 230px;
    margin: 80px auto 0;
    padding:50px;
    background-color: #f2dede;
}
#loginDiv span{
    display:inline-block;
    margin-bottom: 30px;
    text-align: center;
   margin-left: 170px;
    font-size: 24px;
    font-weight: bold;
    color: #f5683d;
}

#loginDiv input{
    width: 250px;
    height: 30px;
    margin-top:10px;
    background-color: #EDE5EA;
}
#loginDiv font{
    display: inline-block;
    width:80px;
}
#loginDiv button{
    width: 130px;
    height:40px;
    margin:30px 135px 10px;
    color: white;
    font-size: 18px;
    border: 2px solid transparent;
    background-color: #4591fb;
}
#loginDiv a{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    color: red;
    text-decoration: none;
    text-align: center;
}
/*content开始*/

#detailContent{
    width: 1080px;
    height: auto;
    padding-top: 60px;
    margin: 0 auto;
    border: 1px solid transparent;
}
#contentDiv{
    width: 540px;
    height:150px;
    margin: 10px auto;
    text-align: center;
}
#contentDiv h3{
    display: inline-block;
    font-size: 30px;
    color: white;
    position: relative;
    top:10%;
}

#detailContent .contentNav{
    float: left;
    margin:15px;
    width: 150px;
    height: 50px;
    background-color:#51C332;
    box-shadow: -5px -5px 12px #869086;

}